/* Common Code */

body {
  font-family: 'Slabo 27px', serif;
  font-size: 1.2em;
}

header {
  border: 5px solid white;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  background-color: #008080;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(1, 1, 1, 0.5), 0 10px 20px 0 rgba(1, 1, 1, 0.5);
}

header > h5 {
  font-weight: lighter;
  font-style: oblique ;
  font-size: .8em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004d4d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid white;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color:	#001a1a;
}

article {
  border: 5px solid white;
  box-shadow: 0 10px 20px 0 rgba(1, 1, 1, 0.5), 0 10px 20px 0 rgba(1, 1, 1, 0.5);
  text-align: justify;
  justify-content: space-around;
  padding: .8rem .9rem .8rem .9rem;
  line-height: normal;
}

article > h1,h3,h4 {
  color: #004d4d;
}

a {
  text-decoration: none;
  color: black;
}

article a:visited {
  color: #008080;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  border-style: outset;
  border-color: gray;
  border-radius: 0.9%;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  text-align: center;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 0.8em;
}

.fa-facebook {
  color: rgb(59, 89, 153);
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

.fa-blogger {
  color: rgb(254, 102, 2);
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

.fa-youtube {
  color: red;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

/* Index Page Code */

.first-letter::first-letter {
  font-size: 300%;
  color: #008080;
  font-weight: bold;
}

#delay:nth-of-type(5) {
  color: #008080;
  font-style: oblique;
}

#delay:hover {
  font-size: 30px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: .2s;
  background-color: #004d4d;
  color: white;
}

#delay0:nth-child(6n) {
  color: #008080;
  font-style: oblique;
}

#delay0:hover {
  font-size: 30px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: .2s;
  background-color: #004d4d;
  color: white;
}

/* Blogs Page code */

.main-container {
  display: flex;
  padding: 2rem;
}

.left-column {
  flex: 50%;
  margin: 50px 20px 50px 20px;
}

.right-column {
  flex: 50%;
  margin: 50px 20px 50px 20px;
}

#delay1:hover {
  font-size: 25px;
}

#delay2:hover {
  font-size: 25px;
}

#delay3:hover {
  font-size: 25px;
}

#delay4:hover {
  font-size: 25px;
}

/* Authors Page Code */

.first-letter1::first-letter {
  font-size: 200%;
  color: #008080;
  font-weight: bold;
}

.image1 {
  float: left;
  padding: 20px;
}

.image2 {
  float: right;
  padding: 20px;
}

.paragraph1 {
  text-align: justify;
  justify-content: space-between;
  padding: 20px 20px;
  }

.paragraph2 {
  text-align: justify;
  justify-content: space-between;
  padding: 30px 20px;
}

/* Books Page Code */

.image3 {
  padding: 2px;
  border-color: gray;
}

.list {
  color: #008080;
}

.book {
  color: #008080;
  font-style: oblique;
  font-weight: lighter;
}

.black {
  color: black;
}
